
.feedback_button {
	position: fixed !important;
	bottom: 44px;
	width: inherit !important;
	background-color: #fff;
	border-right: 1px solid #eee;
}

.doc_button {
	position: fixed !important;
	bottom: 132px;
	width: inherit !important;
	background-color: #fff;
	border-right: 1px solid #eee;
}

.issue_button {
	position: fixed !important;
	bottom: 88px;
	width: inherit !important;
	background-color: #fff;
	border-right: 1px solid #eee;
}
.icon-doc{
	background-image: url('../../../core/img/book.svg');
}
.icon-feedback {
	background-image: url('../../../core/img/actions/comment.svg');
}
.icon-issue {
	background-image: url('../../../core/img/actions/error.svg');
}
